PORT=3000
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3001
DATABASE_URL="mysql://root:@localhost:3306/ukk_coworking"
JWT_SECRET=ganti_dengan_string_acak_panjang
JWT_EXPIRES_IN=1d
TZ=Asia/Jakarta
UPLOAD_MAX_SIZE_MB=2
JAM_OPERASIONAL_BUKA=07:00
JAM_OPERASIONAL_TUTUP=22:00
STRICT_CHECKIN_DATE=false
